name: First Workflow

on:
 push:
  branches: [ "main" ]

jobs: 
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
  
    - name: Setup Java JDK
      uses: actions/setup-java@v5.1.0
      with:
       # The Java version to set up. Takes a whole or semver Java version. See examples of supported syntax in README file
       java-version: 17          
    
    - name: Build
      run: echo "Building the project..."
